[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
"flake8" = "*"
sniffer = "*"

[dev-packages]
"MacFSEvents" = {version = "*", os_name = "== 'osx'"}

[scripts]
watch = "sniffer"
lint = "flake8 --exclude=./venv/*"
test = "python manage.py test"
package = "pyinstaller --onefile manage.py"

[requires]
python_version = "3.7"
